h3 {
    color: #1B2D54;
    font-family: PreloSlab-Bold;
    font-size: 22px;
    font-weight: 700;
  }

.form-group form-timer{
    font-family: preloslab-book;
    color: #4A4A4A;
}
.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}

.form-control{
    text-align: center;
    font-size: 40px;
    height: 60px;
}

.card-header{    
    display: flex;
    justify-content: left;
    align-items: left;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545; 
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    background-image:none;
    padding-right: calc(1em + .25rem); 
}

#continueBtn {
    background-color: #FD0;
    border: 0;
    color: #0F265C;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: PreloSlab-Bold;
    font-size: 14px;
    min-height: 40px;
    min-width: 200px;
    background-repeat: no-repeat;
    height: 47px;
    margin-left: -6px;
}

#cancelBtn{
    background-color: #e8ebf2;
    border: 0;
    color: #0F265C;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: PreloSlab-Bold;
    font-size: 14px;
    min-height: 40px;
    min-width: 200px;
    background-repeat: no-repeat;
    height: 47px;
    margin-left: -6px;
}
